#container {
  width: 100vw;
}

/* MenuBar */
nav {
  padding: 2em 4em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: fixed;
}

ul {
  display: flex;
  list-style: none;
  gap: 7em;
}

li {
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

li:hover {
  text-decoration: underline;
  text-underline-offset: 0.5em;
}

.search {
  width: 220px;
  font-size: 18px;
  padding: 0.6em;
  padding-left: 2em;
  border: none;
  background-image: url("./assets/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 5% 50%;
}

/* Aside */

.content {
  display: flex;
  align-items: center;
  height: 100vh;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding-left: 10em;
}

aside > div {
  width: 375px;
}

span,
strong {
  display: block;
}

strong {
  font-size: 60px;
  margin-bottom: 0.2em;
}

.text-description {
  font-size: 1em;
  font-weight: 700;
  margin-bottom: 1.2em;
  color: var(--text-description);
}

.text-price {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0.8em;
}

.buy-button {
  background-color: var(--button);
  border: none;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  width: 274px;
  height: 90px;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 1s;
  text-transform: uppercase;
}

.buy-button:hover {
  opacity: 1;
}
